[DEFAULT]
ConnectionType=initiator
ReconnectInterval=2
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
HttpAcceptPort=9911
ClientID=CLIENT1
ServerID=EXECUTOR
# standard config elements

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
TransportDataDictionary=../spec/FIXT11.xml
AppDataDictionary=../spec/FIX50SP2.xml
BeginString=FIXT.1.1
DefaultApplVerID=FIX.5.0SP2
SenderCompID=CLIENT1
TargetCompID=EXECUTOR
SocketConnectHost=127.0.0.1
SocketConnectPort=5001
SocketConnectHost1=127.0.0.1
SocketConnectPort1=5002
SocketConnectHost2=127.0.0.1
SocketConnectPort2=5003
HeartBtInt=1 